services:
  # ---------------- Backend Service ----------------
  backend:
    container_name: aiva-backend
    image: jadejamohitrajsinh/aiva-backend:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy

  # ---------------- Frontend Service ----------------
  frontend:
    container_name: aiva-frontend
    image: jadejamohitrajsinh/aiva-frontend:latest
    ports:
      - "3000:80"
    restart: unless-stopped
    depends_on:
      - backend

  # ---------------- Redis Service ----------------
  redis:
    container_name: aiva-redis
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
